---
interface Props {
	href: string;
	name: string;
	desc: string;
  isCurrent: boolean;
  years: boolean;
}

const { href, name, desc, isCurrent, years } = Astro.props;
---

<div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
  <a href={href} target="_blank">
    <div class="mb-5 bg-gray-700 p-4 rounded-md cursor-pointer hover:bg-gray-800">
      <p class="text-white">{name}</p>
      <p class="font-thin text-white">
        {desc}
      </p>

      <div class="flex items-center justify-between">
        <p class="mt-1 text-white">{!isCurrent ? (`From: ${years}`) : (`Current`)}</p>
      </div>
    </div>
  </a>
</div>
